.product {
    display: flex;
    flex-direction: column;
}

.product_card {
    width: 10.5rem;
    /*align-items: center;*/
    padding-left: 0.225rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.card_image {
    border-radius: 20px;
    width: 10rem;
    height: 10rem;
    margin-top: 0.25rem;
}

.product_title {
    color: rgb(231, 69, 69);
    font-family: "Itim", cursive;
    font-weight: 300;
    font-style: normal;
    margin-top: -10px;
    margin-left: -10px;
}

.product_description {
    font-family: "Itim", cursive;
    font-weight: 300;
    font-style: normal;
}

.product_price {
    font-family: "Itim", cursive;
    font-weight: 350;
    font-style: normal;
    margin-left: -10px;
}