.content {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  justify-content: center; /* justify-center */
  flex: 1; /* flex-1 */
  min-height: 100%; /* min-h-full */
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem; /* px-6 */
  padding-top: 3rem; /* py-12 */
  padding-bottom: 3rem; /* py-12 */
}

@media (min-width: 1024px) {
  .content {
      padding-left: 2rem; /* lg:px-8 */
      padding-right: 2rem; /* lg:px-8 */
  }
}

.info {
  margin-top: 1.5rem; /* mt-6 */
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700; /* font-bold */
  letter-spacing: -0.025em; /* tracking-tight */
  text-align: center; /* text-center */
  color: #111827; /* text-gray-900 */
}

.par {
  margin-top: 0.5rem; /* mt-2 */
  font-size: 0.875rem; /* text-sm */
  text-align: center; /* text-center */
  color: #4b5563; /* text-gray-600 */
}

.pinks {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  max-width: 60%;
}

.pinkl {
  position: absolute;
  top: 0;
  right: -25px;
  z-index: -2;
  max-width: 65%;
}

.greens {
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -2;
  max-width: 30%;
}

.greenl {
  position: absolute;
  top: 0;
  left: 20;
  z-index: 0;
  max-width: 30%;
}