.cart_title_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.green-top {
    position: absolute;
    left: -50px;
    top: 80px;
    z-index: -1;
    width: 300px;
    height: 300px;
}

.top {
    width: 95%;
    background-color: #FEE6E6;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-all {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 250px;
    margin-left: 75px;
}

.cart_page {
    margin-left: 80px;
    margin-bottom: 20px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
}

.cart_items {
    margin-right: 100px;
    color: #464040;
}

.cart_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 40px;
}

.elements {
    display: flex;
    flex-direction: row;
}

.bottom {
    padding: 45px;
    background-color: #c8e5bf;
    border-radius: 20px;
    width: 95%;
}

.check {
    margin-right: -70px;
}
table {
    width: 100%;
    /*border-collapse: collapse;*/
}

th, td {
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.continue {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.toto {
    margin-left: -20px;
}








