/* .home-banner-container {
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: -2;
}

.home-banner {
  position: absolute;
  top: 0rem;
  right: -28px;
}

.PinkSquiggle {
  width: 55rem;
  height: 24.4rem;
  right: -30px;
  z-index: -2;
} */