/* nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 0;
}

.logo {
  margin-left: 25px;
  margin-right: 300px;
  height: 45px;
}

.search-input {
  width: 250px;
  border-color: #d4adad;
  border-radius: 5px;
}

.search-button {
  margin-top: 2px;
  border-radius: 5px;
  color: bisque;
  border-color: bisque;
}
.search-icon {
  color: #d4adad;
  
}

.pages {
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.icon {
  align-items: center;
}

.activeLink {
  color: #3b82f6;
  font-weight: bold;
  text-decoration: none;
}

.normalLink {
  color: #000000;
  color: inherit; 
  font-weight: normal;
  text-decoration: none;
} */

